In [1]:
# Printing Strings into Python

print("Hello") # weather we use double quotes or single ,it the same
print('Hello')

Hello
Hello

In [3]:
a = 5 
type(a)

int

In [4]:
b = '5'
type(b)   # Interview question - How will you convert number to string    Ans- put that particular number in commas

str

In [2]:
x = "Chocolate Sweden"
x = x.split(" ")
x

['Chocolate', 'Sweden']

In [5]:
x = yuo"xyy//098/.85285.98"
x = x.split("/")
x = x[-1]
x = x.split(".")
x[-1]

'98'

In [ ]:
# Assigning Values to the String

a = "Hello"
print(a)

Hello

In [6]:
# Strings as Arrays

a = "Hello World!"   # Indexing 0 is always the first index , -1 is Last
print(a[0])

H

In [7]:
# Slicing

b = "Hello, World!"
print(b[2:5])   # 2nd index will be counted,but 5th index will not

llo

In [ ]:
# Negative Indexing

b = "Hello, World!"   # we are doing reverse 
print(b[::-1])      # This is the code to reverse

!dlroW ,olleH

In [ ]:
# String Length

a = "Ram sita"
print(len(a))

8

In [9]:
x = 'anusha'
len(x)

6

In [10]:
a = "Kolkata"
b = " Kolkata"
c = " KOLKATA"
print(a==b)     # In b there is some space , so this space will be counted as extra len()

False

In [11]:
# Stripping a string

a = " Hello, World! "
a = a.strip()
a                 # we are removing the unwanted space and making the data structured

'Hello, World!'

In [12]:
a = "(ayesha)"
a = a.strip("(").strip(")")
a                                  # ince sinle commas is by defaultg

'ayesha'

In [13]:
# converting into lowercase

a = "Hello, World!"
print(a.lower())      # In lower case  Capital Letters will be converted to small or lower characters

hello, world!

In [14]:
# converting into uppercase

a = "Hello, World!"
print(a.upper())   # In uppercase, Lower characters will be converted in capital

HELLO, WORLD!

In [16]:
a  ='taylor swift jr'    # Title will make the first letter of each word in Capital or Upper case
a.title()

'Taylor Swift Jr'

In [ ]:
a  ='taylor swift jr'
a.capitalize()        # Only very first Letter of the starting word of a sentece will be in Capital or uppercase

'Taylor swift jr'

In [17]:
# using replace function

a = "Hello, World!"
a = a.replace("He",'s')
a = a.replace('W','m')
a                             # so replace function will be used to put or edit a letter or a sentece or some particular words from the sentence

'sllo, morld!'

In [18]:
# Splitting a string

a = "[Miss Taylor Swift Jr]"
a = a.split(" ")   # with this step,double quotes will be removed
a = a[1:3]    # Miss = 0 index , Taylor = 1 and vice versa
a = " ".join(a)
a

'Taylor Swift'

In [19]:
a = 'sss.ddff/.knknjkjbb/kjkj'
a.split(".")[-1].split("/")[0]

'knkn'

In [20]:
# String Formatting

x = 10.89565    
y = 4.6543112
z = x+y
print("Sum of x and y is {0:.01f}".format(z)) # if we waana describe any program,we right in this format

Sum of x and y is 15.5

In [ ]:
x = 10.89565    
y = 4.6543112
z = x+y
print("Sum of x and y is: + Whtever you wanna right")   # This is How we right string description

## Other Important Functions

* capitalize()	Converts the first character to upper case

* casefold()	Converts string into lower case
 
* center()	Returns a centered string

* count()	Returns the number of times a specified value occurs in a string

* encode()	Returns an encoded version of the string

* endswith()	Returns true if the string ends with the specified value

* expandtabs()	Sets the tab size of the string

* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Joins the elements of an iterable to the end of the string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning